<div class="getback" ui-sref="book({bookId: '{{vm.bookId}}' })">x</div>
<div class="wrapper container">

  <div class="reader-container">
    <div id="prev" ng-click="vm.Book.prevPage();" class="arrow"><</div>

    <div id="area"></div>

    <div id="next" ng-click="vm.Book.nextPage();" class="arrow">></div>
  </div>
</div>
