.wrapper {
  position: relative;
  width: 100%;
  min-height: 900px;
  padding: 0;
  margin-top: 20px;
  padding-top: 10px;
}
.reader-container {
  width: 100%;
  height: 100%;
  position: absolute;
}
#area {
  width: 80%;
  height: 90%;
  margin: 5% auto;
  max-width: 1250px;
}
#area iframe {
  border: none;
}
#prev {
  left: 40px;
}
#next {
  right: 40px;
}
.arrow {
  position: absolute;
  top: 50%;
  margin-top: -32px;
  font-size: 64px;
  color: #E2E2E2;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.arrow:hover {
  color: #777;
}
.arrow:active {
  color: #000;
}

.getback {
  position: absolute;
  right: 30px;
  top: 60px;
  font-size: 64px;
  color: #E2E2E2;
  font-family: arial, sans-serif;
  font-weight: bold;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
  z-index: 5000;
}

.getback:hover {
  color: #777;
}

.getback:active {
  color: #000;
}

@media (max-width: 767px) {
  .wrapper {
    margin-top: 40px;
  }
}
