<div class="container">
  <div class="bookish">
    <div class="row">
      <div class="col-xs-2 thumb-block">
        <img ng-src="{{vm.book.image}}" class="book-pic">
        <div ui-view="rates"></div>
      </div>
      <div class="col-xs-2 buttons-block">
        <div class="read-button hvr-grow btn btn-primary" ng-if="vm.isAdded" ui-sref="reader" ng-click="vm.rememberBook(vm.book.id)"><span class="glyphicon glyphicon-book"></span> Read</div>
        <div class="add-to-shelf btn btn-primary text-left" ng-if="!vm.isAdded && vm.currentUser" ng-click="vm.buy(vm.book)"><span class="glyphicon glyphicon-plus"></span> Add to my shelf</div>
        <div class="add-to-favorite btn btn-primary" ng-if="vm.isAdded && !vm.isFavorite" ng-click="vm.addToFavorites(vm.book)"><span class="glyphicon glyphicon-heart"></span> Add to favorites</div>
      </div>

      <div class="col-xs-10 title-block">
        <h1 class="text-left">{{vm.book.title}}</h1>
        <p class="book-desc text-left">{{vm.book.description}}</p>
        <h3 class="info-title text-left">Information:</h3>
        <ul class="book-info text-left list-group">
          <li class="list-group-item"><span class="info-prop">Title:</span> {{vm.book.title}}</li>
          <li class="list-group-item"><span class="info-prop">Author:</span> {{vm.book.author}}</li>
          <li class="list-group-item"><span class="info-prop">Date published:</span> {{vm.book.publishedDate.substring(0, 4)}}</li>
          <li class="list-group-item"><span class="info-prop">Number of pages:</span> {{vm.book.pageCount}}</li>
          <li class="list-group-item"><span class="info-prop">Price:</span> {{vm.book.price ? vm.book.price + ' RUB' : 'FREE'}}</li>
        </ul>
        <div ui-view="comments">
        </div>
      </div>
    </div>
  </div>
</div>


<div class="modal fade" id="bookModal" tabindex="-1" role="dialog" data-backdrop="false">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
          aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Sorry!</h4>
      </div>
      <div class="modal-body">
        <p style="font-size: 2.5em">You don't have enough money for this book.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button ui-sref="settings" type="button" class="btn btn-primary" data-dismiss="modal">Top up your wallet
        </button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->
