@import "comments";
@import "rates";

.bookish {
  font-size: 4em;
  color: black;
  position: relative;
}

.book-pic {
  display: block;

}

.title-block {
  vertical-align: top;
}

.book-desc {
  margin-bottom: 50px;
}

.book-info {
  margin-top: 10px;
}

.btn-default {
  border: none;
  background-color: #dbdbdb;
  background-image: none;
  text-shadow: none;
}

.btn-default:hover {
  background-color: #adadad;
}

.read-button, .add-to-favorite, .add-to-shelf {
  width: 100%;
}


.info-title {
  font-weight: bold;
}

.list-group {
  box-shadow: 0 1px 20px rgb(255, 203, 250);
  border-radius: 7px;
}

.list-group-item {
  color: #990073;
}

.list-group-item:last-child {
  margin-bottom: 0;
  border-bottom-right-radius: 7px;
  border-bottom-left-radius: 7px;
}

.list-group-item:first-child {
  border-top-right-radius: 7px;
  border-top-left-radius: 7px;
}

.info-prop {
  color: #797979;
}

.thumb-block {
}

.buttons-block {
  min-height: 70px;
  min-width: 200px;
}
/*.col-xs-2 {
  border: 1px solid red;
  text-align: left;
}

.col-xs-10 {
  border: 1px solid red;
}*/


@media screen and (max-width: 1000px) {
  .thumb-block {
    min-width: 200px;
    padding-right: 0;
  }

}

@media screen and (max-width: 600px) {
  .bookish {
    font-size: 2em;
  }

}

.btn-primary {
  text-shadow: none;
}
