div.comments-container {
    width: 100%;
  border-radius: 7px;
  padding: 25px;
  padding-left: 0;
  margin-top: 0;
  margin-left: 0;
}

h2 {
  font: 400 40px/1.5 Helvetica, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  float: left;
}

.comments-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  float: left;
  width: 100%;
}

.comments-list-item {
  font: 200 20px/1.5 Helvetica, Verdana, sans-serif;
  width: 100%;
  text-align: left;
}
.comments-list-item a {
  text-decoration: none;
  color: #000;
}

.comments-field {
  box-sizing: content-box;
  height: 50px;
  font-size: 15px;
}


.hidden {
  display: none;
}

.comments-add {
  float: left;
  margin-top: 10px;
}
.comments-edit {
  float: left;
  margin-top: 10px;
}

.post-title {
  font-size: 30px;
}

a {
  color: #82b440;
  text-decoration: none;
}
.blog-comment::before,
.blog-comment::after,
.blog-comment-form::before,
.blog-comment-form::after{
  content: "";
  display: table;
  clear: both;
}

.blog-comment{
  padding-right: 15%;
}

.blog-comment ul{
  list-style-type: none;
  padding: 0;
}

.blog-comment img{
  opacity: 1;
  filter: Alpha(opacity=100);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
}

.blog-comment canvas.avatar {
  position: relative;
  float: left;
  margin-left: 0;
  margin-top: 0;
  box-shadow: 0 0 15px rgba(255, 134, 238, 0.32)
}

.blog-comment .post-comments{
  border: 1px solid #eee;
  margin-bottom: 20px;
  margin-left: 85px;
  margin-right: 0px;
  padding: 10px 20px;
  position: relative;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  border-radius: 4px;
  background: #fff;
  color: #6b6e80;
  position: relative;
  box-shadow: 0 0 15px rgb(206, 193, 206);
  min-width: 190px;
}

.blog-comment .meta {
  font-size: 13px;
  color: #aaaaaa;
  padding-bottom: 8px;
  margin-bottom: 10px !important;
  border-bottom: 1px solid #eee;
}

.blog-comment ul.comments ul{
  list-style-type: none;
  padding: 0;
  margin-left: 85px;
}

.blog-comment-form{
  padding-left: 15%;
  padding-right: 15%;
  padding-top: 40px;
}

.blog-comment h3,
.blog-comment-form h3{
  text-align: left;
  font-size: 26px;
  font-weight: 400;
}

.poster {
  color: #353535;
  font-weight: bold;
}

.outline {
  color: #990073;
}

.shown {
  display: block;
}

@media screen and (max-width: 610px) {
  .comment {
    font-size: 15px;
  }

}
