.rates-container {
  text-align: left;
  margin-top: 10px;
  margin-left: -5px;
}
form .stars {
  background: url("stars.png") repeat-x 0 0;
  width: 150px;
}

form .stars input[type="radio"] {
  position: absolute;
  opacity: 0;
  filter: alpha(opacity=0);
}
form .stars input[type="radio"].star-5:checked ~ span {
  width: 100%;
}
form .stars input[type="radio"].star-4:checked ~ span {
  width: 80%;
}
form .stars input[type="radio"].star-3:checked ~ span {
  width: 60%;
}
form .stars input[type="radio"].star-2:checked ~ span {
  width: 40%;
}
form .stars input[type="radio"].star-1:checked ~ span {
  width: 20%;
}
form .stars label {
  display: block;
  width: 30px;
  height: 30px;
  margin: 0;
  padding: 0;
  text-indent: -999em;
  float: left;
  position: relative;
  z-index: 10;
  background: transparent ;
  cursor: pointer;
}
form .stars label:hover ~ span {
  background-position: 0 -30px;
}
form .stars label.star-5:hover ~ span {
  width: 100%  ;
}
form .stars label.star-4:hover ~ span {
  width: 80%  ;
}
form .stars label.star-3:hover ~ span {
  width: 60%  ;
}
form .stars label.star-2:hover ~ span {
  width: 40%  ;
}
form .stars label.star-1:hover ~ span {
  width: 20%  ;
}
form .stars span {
  display: block;
  width: 0;
  position: relative;
  top: 0;
  left: 0;
  height: 30px;
  background: url("stars.png") repeat-x 0 -60px;
  -webkit-transition: -webkit-width 0.5s;
  -moz-transition: -moz-width 0.5s;
  -ms-transition: -ms-width 0.5s;
  -o-transition: -o-width 0.5s;
  transition: width 0.5s;
}

.rates-average {
  font-size: 15px;
  margin-left: 5px;
  color: #797979;
}


