<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="store">BookStore</a>
    </div>
    <div class="collapse navbar-collapse  navbar-inverse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a ui-sref="profile">Profile</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Sort <span class="caret"></span></a>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dLabel" ng-model="orderProp">
            <li><a href="#" ng-click="nv.sortBy('title')">Name</a></li>
            <li><a href="#" ng-click="nv.sortBy('author')">Author</a></li>
            <li><a href="#" ng-click="nv.sortBy('publishedDate')">Publish date</a></li>
            <li class="dropdown-submenu"><a tabindex="-1" href="#">Category</a>
              <ul class="dropdown-menu">
                <li ng-click="nv.showCategory()"><a href="#" style="font-weight: bold">All categories</a></li>
                <li ng-repeat="category in nv.categories" ng-click="nv.showCategory(category)"><a href="#">{{category}}</a></li>
              </ul></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search" ng-model="query" ng-change="nv.search(query)">
        </div>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!nv.logged" class="btn-login"><a ui-sref="auth"><span class="glyphicon glyphicon-lock" aria-hidden="true"  >  </span>  Log in</a></li>
        <li class="dropdown btn-user"  ng-show="nv.logged">
          <canvas id="canvas" width="40" height="40" data-jdenticon-hash="{{nv.currentUserPic}}" class="userpic img-circle img-thumbnail"></canvas>
          <a href="#" class="dropdown-toggle userlink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{nv.currentUser}} <span class="caret"></span></a>
          <ul class="dropdown-menu multi-level" role="menu" aria-labelledby="dLabel">
            <li><a ui-sref="settings">Settings</a></li>
            <li class="btn-logout"><a ng-click="nv.logOut()"><span class="glyphicon glyphicon-log-out" aria-hidden="true">  </span>  Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
