@import '../common';

.navbar {
  height: 6.5rem;
  padding-top: 1rem;
  font-size: 2em;
  background-image: none;
  background-color: #2c2c2c;
}
.blackblack {
  background-color: #2c2c2c;
}
.navbar .nav-links, .navbar .logo {
    display: inline-block;

}

.navbar-collapse {
  background-image: none;
  background-color: #2c2c2c;
}

  .logo {
    color: $lightTextColor;
    margin-right: 50%;
  }
  .nav-links span {
    color: $lightTextColor;
    font-size: 1.6rem;
  }

  .navbar-default {
   border-color: transparent;
    border-radius: 0;

   box-shadow: 0 3px 7px rgb(255, 118, 255);
  }

  .nav li {
    z-index: 4000;
  }

  .navbar-collapse {
    border-top: none;

  }

  .btn-login, .btn-user {
    font-size: 18px;
  }
  .btn-user {
    position:relative;
    box-sizing: content-box;
    width: 160px;
    height: 50px;
    margin-right: 10px;
  }
  .glyphicon {
    font-size: 14px;
  }

  .hidden {
    display: none;
  }


.dropdown-submenu {
  position: relative;
}

.dropdown-submenu>.dropdown-menu {
  top: 0;
  left: 100%;
  margin-top: -6px;
  margin-left: -1px;
  -webkit-border-radius: 0 0 0 0;
  -moz-border-radius: 0 0 0;
  border-radius: 0 0 0 0;
}

.dropdown-submenu:hover>.dropdown-menu {
  display: block;
}

.dropdown-submenu>a:after {
  display: block;
  content: " ";
  float: right;
  width: 0;
  height: 0;
  border-color: transparent;
  border-style: solid;
  border-width: 5px 0 5px 5px;
  border-left-color: #ccc;
  margin-top: 5px;
  margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
  border-left-color: black;
}

.dropdown-submenu.pull-left {
  float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
  left: -100%;
  margin-left: 10px;
  -webkit-border-radius: 6px 0 6px 6px;
  -moz-border-radius: 6px 0 6px 6px;
  border-radius: 6px 0 6px 6px;
}

.userpic {
  position: absolute;
  left: 5px;
  background-color: white;
  padding: 0;
  margin-top: 2px;
  margin-right: 2px;
  box-shadow: 0 0 5px rgb(255, 118, 255)
}

.userlink {
  position: absolute;
  left: 50px;

}

.navbar-inverse .navbar-nav>.open>a, .navbar-inverse .navbar-nav>.open>a:focus, .navbar-inverse .navbar-nav>.open>a:hover {
  background-color: transparent;
}

@media screen and (max-width: 1000px) {
  .userlink {
    top: 5px;
    left: 55px;
  }

  .userpic {
    left: 10px;
  }
}

.bugfix {
  min-height: 270px;
}
