<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#myNavbar" aria-expanded="false">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="store">BookStore</a>
    </div>
    <div class="collapse navbar-collapse navbar-inverse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li><a ui-sref="profile">Profile</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li ng-show="!nv.logged" class="btn-login"><a ui-sref="auth"><span class="glyphicon glyphicon-lock" aria-hidden="true">  </span>  Log in</a></li>
        <li class="dropdown btn-user" ng-show="nv.logged">
          <canvas width="40" height="40" data-jdenticon-hash="{{nv.currentUserPic}}" class="userpic img-circle img-thumbnail"></canvas>
          <a href="#" class="dropdown-toggle userlink" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{nv.currentUser}} <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a ui-sref="settings">Settings</a></li>
            <li class="btn-logout"><a ng-click="nv.logOut()"><span class="glyphicon glyphicon-log-out" aria-hidden="true">  </span>  Log out</a></li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</nav>
