<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">

  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" ui-sref="store">BookStore</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
    <ul class="nav navbar-nav">
      <li><a ui-sref="profile">Profile</a></li>
      <li><a ui-sref="store">Store</a></li>
      <li><a ui-sref="settings">Settings</a></li>
    </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="btn-logout"><a><span class="glyphicon glyphicon-log-out" aria-hidden="true">  </span>  Log out</a></li>
      </ul>
      </div>
  </div>
</nav>
