<div class="settings container">
  <h1 class="page-header">Edit Profile</h1>
  <div class="alert-container">
    <div class="alert settings-alert">
      <span class="change-info">Username has been changed</span>
    </div>
  </div>
    <div class="row settings-row">
    <!-- left column -->
    <div class="col-md-4 col-sm-6 col-xs-12">
      <div class="text-center">
        <canvas width="200" height="200" data-jdenticon-hash="{{vm.currentUserPic}}" class="settings-avatar img-circle img-thumbnail"></canvas>
      </div>
    </div>
    <!-- edit form column -->
    <div class="col-md-8 col-sm-6 col-xs-12 personal-info">
      <h3>Personal info</h3>

      <form name="settingsForm" class="settings-form form-horizontal" role="form">
        <div class="settings-login form-group" ng-class="{'has-error' : vm.loginExists || settingsForm.login.$invalid && !settingsForm.login.$pristine, 'has-success' : settingsForm.login.$valid && !settingsForm.login.$pristine}">
          <label class="col-md-3 control-label">Username:</label>
          <div class="col-md-8">
            <input name="login" ng-model="vm.login" class="form-control settings-input-login" ng-value="vm.currentUser" type="text" ng-minlength="3" required autocomplete="off" ng-pattern="/^[a-zA-Z0-9]{2,}$/" ng-change="vm.loginExists = false; ">
            <span ng-show="settingsForm.login.$invalid && !settingsForm.login.$pristine" class="login-help help-block">Username must be longer than 2 symbols and can contain only latin letters and digits</span>
            <span ng-show="vm.loginExists" class="login-help help-block">User {{vm.login}} already exists!</span>
          </div>

        </div>
        <div class="settings-password form-group" ng-class="{'has-error' : settingsForm.password.$invalid && !settingsForm.password.$pristine, 'has-success' : settingsForm.password.$valid && !settingsForm.password.$pristine}" >
          <label class="col-md-3 control-label">New password:</label>
          <div class="col-md-8">
            <input class="form-control settings-input-newpassword" type="password" ng-model="vm.newpassword" required ng-minlength="7" name="password">
            <span ng-show="settingsForm.password.$invalid && !settingsForm.password.$pristine" class="password-help help-block">Password should be longer than 6 symbols</span>
          </div>
        </div>
        <div class="settings-confirm form-group" ng-class="{'has-error' : settingsForm.confirm.$invalid && !settingsForm.password.$pristine, 'has-success' : settingsForm.password.$valid && !settingsForm.password.$pristine && !settingsForm.confirm.$pristine}">
          <label class="col-md-3 control-label">Confirm password:</label>
          <div class="col-md-8">
            <input name="confirm"  ng-model="vm.confirm" password-match="vm.newpassword" required class="form-control settings-input-confirmnew" type="password" ng-minlength="7">
            <span ng-show="settingsForm.confirm.$invalid && !settingsForm.password.$pristine" class="confirm-help help-block">Passwords don't match</span>
          </div>
        </div>
        <div class="settings-wallet form-group">
          <label class="col-md-3 control-label">Your wallet</label>
          <div class="col-md-8">
            <span class="wallet-amount">{{vm.userWallet}} RUB</span>
            <span class="wallet-topup" data-toggle="modal" data-target="#myModal" >Top up</span>
          </div>
        </div>
        <div class="settings-save form-group">
          <label class="col-md-3 control-label"></label>
          <div class="col-md-8">
            <input ng-disabled="settingsForm.login.$pristine && settingsForm.confirm.$invalid" class="btn btn-primary" value="Save Changes" type="button" ng-click="vm.saveChanges(); $(this).blur(); settingsForm.$setPristine()">
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="exampleModalLabel">Top up</h4>
      </div>
      <div class="modal-body row">
        <div class="topup__offer col">
          <div class="topup__offer--upper _offer-1">
            <div class="topup_offer--price text-center">499 RUB</div>
          </div>
          <div class="topup__offer--lower">
            <button type="button" class="btn btn-primary topup-button" ng-click="vm.topUp(499)">Buy</button>
          </div>
        </div>
        <div class="topup__offer col">
          <div class="topup__offer--upper _offer-2">
            <div class="topup_offer--price text-center">999 RUB</div>
          </div>
          <div class="topup__offer--lower">
            <button type="button" class="btn btn-primary topup-button" ng-click="vm.topUp(999)">Buy</button>
          </div>
        </div>
        <div class="topup__offer  col">
          <div class="topup__offer--upper _offer-3">
            <div class="topup_offer--price text-center">2999 RUB</div>
          </div>
          <div class="topup__offer--lower">
            <button type="button" class="btn btn-primary topup-button" ng-click="vm.topUp(2999)">Buy</button>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>




</div>
