.settings-avatar {
  box-shadow: 0 0 18px rgb(255, 118, 255);
}

.control-label {
  font-size: 12px;
}

.settings-form {
  padding-top: 30px;
  /*padding-right: 60px;*/

}

.page-header {
  color: #d40b77;
  font-size: 20px;
}

.wallet-amount {
  color: #990073;
  font-size: 20px;
  float: left;
  padding-left: 5px;
}

.wallet-topup {
  color: #9e9e9e;
  font-size: 15px;
  text-decoration: underline;
  float: left;
  margin-left: 10px;
  padding-top: 3px;
  cursor: pointer;
}

.help-block {
  font-size: 12px;
}

.settings-alert {
  background-color: #f1b8e7;
  text-align: center;
  font-size: 14px;
  color: #5e5e5e;
  border: none;
  display: none;
}

.settings-row {

}

.alert-container {
  height: 60px;
}

.topup__offer {
  height: 500px;
  width: 30%;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgb(206, 193, 206);
  border: 1px solid rgba(128, 128, 128, 0.32);
  margin-right: 10px;
  margin-left: 10px;
}

.topup__offer--upper {
  height: 60%;
  background-color: #f1b8e7;
  padding-top: 50%;
  border-top-left-radius:  10px;
  border-top-right-radius:  10px;
}

.topup_offer--price {
  font-size: 6em;
  color: white;
}

.topup__offer--lower {
  height: 40%;
  padding-top: 30%;
  text-align: center;
  background-image: url("./bg.png");
  border-bottom-left-radius:  10px;
  border-bottom-right-radius:  10px;
}
.modal-body {
  padding: 10px;
}
@media (min-width: 768px) {
  .modal-dialog {
    width: 900px;
    margin: 30px auto;
  }
}

._offer-1 {
  background-color: #4d4d4c;
}

._offer-2 {
  background-color: rgba(186, 12, 82, 1);
}

._offer-3 {
  background-image: url("./pink.png");
}
.topup-button {
  box-shadow: 0 0 15px rgb(206, 193, 206);
  width: 50px;
}

@media (max-width: 767px) {
  .modal-dialog {
    width: auto;
    margin: 30px auto;
  }

  .settings-avatar {
   width: 75px;
    height: 75px;
  }

  .topup__offer {
    height: 200px;
    margin-right: 0px;
    margin-left: 0px;
  }
  .topup_offer--price {
    font-size: 2em;
  }

  .topup__offer--lower {
    padding-top: 10%;
  }

  .topup__offer--upper {
    padding-top: 20%;
  }
}
