<div class="rates-container">
<form id="ratingsForm" class="rates-form">
  <div class="stars">
    <input ng-disabled="rm.currentUser === null || rm.userRate !== undefined" ng-checked="rm.userRate == 1" type="radio" name="star" class="star-1 1" id="star-1" ng-click="rm.addRate(1)"/>
    <label class="star-1" for="star-1">1</label>
    <input ng-disabled="rm.currentUser === null || rm.userRate !== undefined" ng-checked="rm.userRate == 2" type="radio" name="star" class="star-2 2" id="star-2" ng-click="rm.addRate(2)"/>
    <label class="star-2" for="star-2">2</label>
    <input ng-disabled="rm.currentUser === null || rm.userRate !== undefined" ng-checked="rm.userRate == 3" type="radio" name="star" class="star-3 3" id="star-3" ng-click="rm.addRate(3)"/>
    <label class="star-3" for="star-3">3</label>
    <input ng-disabled="rm.currentUser === null || rm.userRate !== undefined" ng-checked="rm.userRate == 4" type="radio" name="star" class="star-4 4" id="star-4" ng-click="rm.addRate(4)"/>
    <label class="star-4" for="star-4">4</label>
    <input ng-disabled="rm.currentUser === null || rm.userRate !== undefined" ng-checked="rm.userRate == 5" type="radio" name="star" class="star-5 5" id="star-5" ng-click="rm.addRate(5)"/>
    <label class="star-5" for="star-5">5</label>
    <span></span>
  </div>
</form>
  <span class="rates-average">Average rate: {{rm.av_rate}}</span>
</div>
