.container {
  margin-top: 95px;
}
.form-auth {
  font-size: 2em;
  margin-left: 5px;
  text-align: center;
  margin-top: 100px;
}

.form-group {
  border: none;
}

.btn-primary {
  background-image: none;
  border: none;
  background-color: rgb(255, 172, 255);
  color: #212121;
}

.btn-primary:hover, .btn-primary:focus{
  background-color: #990073;
}

.form-control:focus {
border-color: rgb(255, 172, 255);
 box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,172,255,.6);
}

.signup {
  margin-top: 10px;
  text-decoration: underline;
  color: grey;
  cursor: pointer;
}
fieldset {
  padding: 0;
}

.btn-primary.disabled, .btn-primary:disabled, .btn-primary[disabled] {
  background-color: rgba(255, 0, 191, 0.31);
  background-image: none;
}
