<div class="container">
  <h1 class="page-header">Authorization</h1>
  <form class="form-auth"  ng-class="{ 'has-error' : !vm.valid && authForm.username.$valid && authForm.password.$valid}" name="authForm" ng-submit="vm.onLogin()" novalidate>
    <fieldset class="form-group form-auth-login" style="padding: 0" ng-class="{ 'has-error' : authForm.username.$invalid && !authForm.username.$pristine && !vm.valid }">
      <label>
        <input ng-model="username" ng-change="vm.valid = true" class="form-auth__input-login form-control" name="username" type="text" placeholder="Login" required  ng-minlength="1" autocomplete="off">
        <span ng-show="authForm.username.$invalid && !authForm.username.$pristine" class="auth-login-help help-block">Please enter your login</span>
      </label>
    </fieldset>
    <fieldset class="form-group form-auth-password" style="padding: 0" ng-class="{ 'has-error' : authForm.password.$invalid && !authForm.password.$pristine }">
      <label>
        <input ng-change="vm.valid = true" class="form-auth__input-password form-control" name="password" type="password" placeholder="Password" ng-model="password" required>
        <span ng-show="authForm.password.$invalid && !authForm.password.$pristine" class="auth-help help-block">Please enter your password</span>
        <span ng-show="!vm.valid && authForm.username.$valid && authForm.password.$valid" class="auth-help help-block">Login or password is incorrect!</span>
      </label>
    </fieldset>
    <button type="submit" class="form-auth__button-submit btn-primary btn" ng-disabled="authForm.$invalid" ng-click="$(this).blur()">Log in</button>
    <div class="signup" ui-sref="signup">Sign up</div>
  </form>
</div>
