@import '../../common/common';
.store {
  margin-top: 95px;
}

.row {
  padding: 5px;
  text-align:center;
   }

.store__item {

  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  max-width: 130px;
  min-height: 270px;
  vertical-align: top;
}

.store__item__el {
  display: block;
  font-size: 2.3em;
  color: #000000;
  }
.store__item__el-image {
border: 1px solid black;
  box-shadow: 0 0 18px rgb(255, 118, 255);
  margin-bottom: 5px;
  position:relative;
}



.store__item__el-price {
  position: absolute;
  background-color: black;
  height:20px;
  width: 53px;
  bottom: 0;
  left: 0;
  color: #f1b8e7;
  font-size: 0.95em;
  text-align: center;
  padding-top: 2px;
}

.col {
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}




