<div class="container-fluid">
<div class="row store">
  <p class="empty-message text-center" ng-class="vm.isEmpty ? 'shown' : 'hidden'">Loading...</p>
    <div class="col-sm-2 store__item col pull-left" ng-repeat="book in vm.books | toArray | filter:vm.query | orderBy: vm.key | filter: {category: vm.category}" >
      <div class="store__item__el store__item__el-image  hvr-grow">
        <a ui-sref="book({bookId: '{{book.id}}' })" class="thumb"><img height="150px" width="100px" alt="Book Image" ng-src="{{book.image}}"></a>
        <div class="store__item__el-price">{{book.price ? '&#8381' + book.price  : 'FREE'}}</div>
      </div>
      <span class="store__item__el store__item__el-name">{{book.title.length > 27 ? book.title.substring(0, 26) + '...' : book.title}}</span>
      <span class="store__item__el store__item__el-author">{{book.author}}</span>
      <span class="store__item__el store__item__el-date">{{book.publishedDate.substring(0, 4)}}</span>

    </div>
</div>
</div>
