<div class="container-fluid">
<div class="row profile">
  <p class="empty-message text-center" ng-class="vm.isEmpty ? 'shown' : 'hidden'">You haven't added any book yet...</p>
  <div class="col-sm-2 profile__item col pull-left" ng-repeat="book in vm.books | toArray | filter:vm.query | orderBy: vm.key | filter: {category: vm.category} | filter: {favorite: vm.favorite}" >
    <div class="profile__item__el profile__item__el-image  hvr-grow">
      <a ui-sref="book({bookId: '{{book.id}}' })" class="thumb"><img height="150px" width="100px" alt="Book Image" ng-src="{{book.image}}"></a>
      <div class="profile__item__el-remove" ng-click="vm.removeBook(book.id)">remove</div>
    </div>
    <span class="profile__item__el profile__item__el-name">{{book.title.length > 27 ? book.title.substring(0, 26) + '...' : book.title}}</span>
    <span class="profile__item__el profile__item__el-author">{{book.author}}</span>
    <span class="profile__item__el profile__item__el-date">{{book.publishedDate.substring(0, 4)}}</span>
    <div class="profile__item__el-favorite  hvr-pulse" ng-class="book.favorite !== true ? 'hidden' : 'notHidden'" ng-click="vm.removeFavorite(book.id)"><span class="glyphicon glyphicon-heart" aria-hidden="true"> </span></div>
  </div>

</div>
</div>
