.profile {
  margin-top: 95px;
  margin-left: 30px;
}
.row {
  padding: 5px;
  text-align:center;
}

.profile__item {

  margin-right: 10px;
  margin-bottom: 5px;
  position: relative;
  max-width: 130px;
  min-height: 270px;
  vertical-align: top;
}

.profile__item__el {
  display: block;
  font-size: 2.3em;
  color: #000000;
}
.profile__item__el-image {
  border: 1px solid black;
  box-shadow: 0 0 12px rgb(255, 118, 255);
  margin-bottom: 5px;
  position: relative;
}


.profile__item__el-price {
  position: absolute;
  background-color: black;
  height:20px;
  width: 53px;
  bottom: 0;
  left: 0;
  color: #f1b8e7;
  font-size: 0.95em;
  text-align: center;
  padding-top: 2px;
}

.profile__item__el-remove {
  position: absolute;
  background-color: black;
  height:20px;
  width: 53px;
  top: 0;
  right: 0;
  color: #f1b8e7;
  font-size: 0.95em;
  text-align: center;
  padding-top: 2px;
  display: none;
  cursor: pointer;
}

.profile__item__el-image:hover  .profile__item__el-remove {display: block;-webkit-transform: scale(1.1);
  transform: scale(1.1);
  -webkit-animation: flyinleftanim 1s ease; }

.col{
  display:inline-block;
  float:none;
  /* reset the text-align */
  text-align:left;
  /* inline-block space fix */
  margin-right:-4px;
}

.profile__item__el-favorite {
  position: absolute;
  bottom: 0;
  text-align: center;
  padding-top: 2px;
}

.glyphicon.glyphicon-heart {
  font-size: 15px;
  color: #990073;
}

@-webkit-keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes hvr-pulse {
  25% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  75% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

.hvr-pulse {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
}
.hvr-pulse:hover, .hvr-pulse:focus, .hvr-pulse:active {
  -webkit-animation-name: hvr-pulse;
  animation-name: hvr-pulse;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.empty-message {
  font-size: 6em;
  margin-top: 20%;
  color: rgba(15, 15, 15, 0.7);
}

@media screen and (max-width: 700px) {
  .profile {
    margin-left: 0;
  }

}
