
<div class="comments-container container">
    <h2 class="text-left post-title">Post your Comment</h2>
    <form class="comments-form" name="commentForm" novalidate ng-class="commentForm.txtcomment.$invalid && !commentForm.txtcomment.$pristine ? 'has-error' : ''" >
      <textarea ng-disabled="cm.currentUser === null" class="comments-field form-control" name="txtcomment" ng-model="cm.txtcomment" placeholder="Your Comment" rows="3" ng-minlength="2" required></textarea>
      <span ng-show="commentForm.txtcomment.$invalid && !commentForm.txtcomment.$pristine" class="comment-help help-block has-error">Your comment is too short!</span>
      <button class="comments-add btn btn-primary text-left" ng-click='cm.addComment(); commentForm.txtcomment.$pristine = true; $(this).blur()' ng-disabled="commentForm.txtcomment.$pristine || commentForm.txtcomment.$invalid && !commentForm.txtcomment.$pristine" >Post Comment</button>
      <div style="clear: both; height: 10px;"></div>
    </form>

    <div class="row">
      <div class="col-md-12">
        <div class="blog-comment">
          <h3>Comments</h3>
          <hr/>
          <ul class="comments-list">
            <li class="clearfix comments-list-item" ng-repeat="comnt in cm.comment track by comnt.sortDate" >
              <canvas width="40" height="40" data-jdenticon-hash="{{comnt.userpic}}" class="img-circle img-thumbnail avatar"></canvas>
              <div class="post-comments">
                <p class="meta">{{ comnt.date }}<span class="poster" ng-class="cm.currentUser === comnt.user ? 'outline' : ''"> {{ comnt.user }} </span> says :
                  <i class="pull-right" ng-class="cm.currentUser === comnt.user ? 'shown' : 'hidden'"><a href="#" ng-click="cm.removeComment($index)"><small>&nbsp; Remove </small></a></i>
                  <i class="pull-right" ng-class="cm.currentUser === comnt.user && cm.indexEditedComment == $index ? 'shown' : 'hidden'"><a href="#" ng-click="cm.saveComment($index)"><small>Save </small></a></i>
                </p>
                <p class="comment" ng-class="cm.currentUser === comnt.user && cm.indexEditedComment == $index ? 'hidden' : 'shown'" ng-click="cm.editComment($index)">
                  {{ comnt.comment }}
                </p>
                <textarea ng-class="cm.currentUser === comnt.user && cm.indexEditedComment == $index ? 'shown' : 'hidden'" class="form-control" name="editing" ng-model="cm.editing" rows="1"></textarea>
              </div>
            </li>
          </ul>
        </div>
      </div>
    </div>

</div>
