<div class="container">
  <h1 class="page-header">Registration</h1>
  <form class="form-signup" name="signupForm" ng-submit="vm.onSignup()" novalidate>
    <fieldset class="form-group form-signup-login" ng-class="{'has-error' : vm.loginExists || signupForm.login.$invalid && !signupForm.login.$pristine, 'has-success' : signupForm.login.$valid && !signupForm.login.$pristine}" >
      <label>
        <input name="login" class="form-signup__input-login form-control" type="text" placeholder="Create login"
                ng-model="login" ng-minlength="3" required autocomplete="off" ng-pattern="/^[a-zA-Z0-9]{2,}$/" ng-change="vm.loginExists = false">
      </label>
      <span ng-show="signupForm.login.$invalid && !signupForm.login.$pristine" class="login-help help-block">Username must be longer than 2 symbols and can contain only latin letters and digits</span>
      <span ng-show="vm.loginExists" class="login-help help-block">User {{login}} already exists!</span>
    </fieldset>
    <fieldset class="form-group form-signup-password" ng-class="{'has-error' : signupForm.password.$invalid && !signupForm.password.$pristine, 'has-success' : signupForm.password.$valid && !signupForm.password.$pristine}">
      <label>
        <input name="password" class="form-signup__input-password form-control" type="password" placeholder="Create password"
                ng-model="password" required ng-minlength="7">
      </label>
      <span ng-show="signupForm.password.$invalid && !signupForm.password.$pristine" class="password-help help-block">Password should be longer than 6 symbols</span>
    </fieldset>
    <fieldset class="form-group form-signup-confirm" ng-class="{'has-error' : signupForm.confirm.$invalid && !signupForm.password.$pristine, 'has-success' : signupForm.password.$valid && !signupForm.password.$pristine && !signupForm.confirm.$pristine}">
      <label>
        <input name="confirm" class="form-signup__input-confirm form-control" type="password" placeholder="Confirm password"
                ng-model="confirm" password-match="password" required>
      </label>
      <span ng-show="signupForm.confirm.$invalid && !signupForm.password.$pristine" class="confirm-help help-block">Passwords don't match</span>
    </fieldset>
    <button type="submit" class="form-signup__button-submit btn-primary btn" ng-disabled="signupForm.$invalid" ng-click="$(this).blur()">Sign up</button>
  </form>
</div>
