.container {
  margin-top: 95px;
}
.form-signup {
  font-size: 2em;
  margin-left: 5px;
  text-align: center;
  margin-top: 100px;
}

.form-signup-login, .form-signup-password, .form-signup-confirm {
  border: none;
  margin-bottom: -10px;
}

.btn-primary {
  background-image: none;
  border: none;
  background-color: rgb(255, 172, 255);
  color: #212121;
}

.btn-primary:hover, .btn-primary:focus{
  background-color: #990073;
}

.form-control:focus {
  border-color: rgb(255, 172, 255);
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(255,172,255,.6);
}

.notvisible {
  visibility: hidden;
}

.form-signup fieldset {
  height: 70px;
  margin-bottom: 5px;
}
